.cabecera-img{
    display:block;
    margin:auto;
  }

  .py-4 {
    padding-top: 3.5rem !important;
}

#titulo{
 
    margin-top: 5px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #676a6c;
}

.colorut{
    background-color: #1AB394 !important;
    border-color:  #1AB394 !important;
}
.m-t{
    margin-top: 1.5rem !important;
    color: #676a6c;
    text-align: center !important;
}